.title {
  text-align: center;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 20px;
}
.app {
  display: flex;
  height: 100vh;
  width: 100%;
}
.app__controls {
  flex: .5;
  background-color: aliceblue;
  flex-direction: column;
  display:flex;
  justify-content: center;
  align-items: center;
}
.app__control{
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.slider {
  margin-left: 20px;
  margin-right: 20px;
}
.inputBox {
  width: 50px;
}
.app__code {
  margin-top: 20px;
  width: 80%;
  height: 100px;
}